<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Facturacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CADENA_CONEXION" connectionString="Data Source=(local);Initial Catalog=BD_FACTURACION;User ID=sa;Password=binroot"/>
    <add name="Facturacion.My.MySettings.DB_FACTURACIONConnectionString" connectionString="Data Source=(local);Initial Catalog=bd_FACTURACION;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PROVEEDOR_ADO" value="System.Data.SqlClient"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <Facturacion.My.MySettings>
      <setting name="Skin" serializeAs="String">
        <value>Caramel</value>
      </setting>
    </Facturacion.My.MySettings>
  </userSettings>
</configuration>
